---

import { profileConfig } from '../config'
import { url } from '../utils/url-utils'
const getCurrentYear = () => new Date().getFullYear();
const currentYear = getCurrentYear();
---

<div class="card-base justify-center max-w-[var(--page-width)] min-h-[4.5rem] rounded-b-none mx-auto flex items-center px-6">
    <div class="transition text-50 text-sm">
        © {currentYear} All rights reserved by <span class="link text-[var(--primary)] font-medium">Keshav Locknauth</span> (aka <span class="link text-[var(--primary)] font-medium">0xkakashi</span>).
    </div>
</div>
